# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
.idea/
build/static/js/main.1bc4eee1.js.map
build/
node_modules/
serverlog/
src/картинки/
server/config.xml
upload/certificate/test_certificate.jpg
upload/
