<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<dbconnect>
		<constr>postgres://postgres:12345@localhost:5432/Raw_Accounting?sslmode=disable</constr>
	</dbconnect>
	<server>
		<port>:3000</port>
		<rootDir>D:\Курсач\project\raw_supply\build</rootDir>
	</server>
	<log>
		<maxLogSizeMB>0.001</maxLogSizeMB>
		<maxLogDuration>15s</maxLogDuration>
		<logdir>D:\Курсач\project\raw_supply\serverlog</logdir>
		<logname>log.txt</logname>
		<rotationPeriod>10s</rotationPeriod>
	</log>
	<!-- относительно корневого (rootDir) каталога сайта (см. <server>) -->
	<upload> 
		<uploadPassportDir>upload\passport</uploadPassportDir>
		<uploadCertificateDir>upload\certificate</uploadCertificateDir>
	</upload>
	<testParams>
		<rootDir>D:\Курсач\project\raw_supply\public</rootDir>
		<uploadPassportDir>upload\passport</uploadPassportDir>
		<uploadCertificateDir>upload\certificate</uploadCertificateDir>
	</testParams>
</configuration>