body {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: "Century Gothic", sans-serif !important;
  background: url("./картинки/home_2.jpg") !important;
    background-size: cover  !important;
}

a {
    text-decoration: none !important;
    text-align: center !important;
}

a:hover {
    text-decoration: none !important;
    color: blue !important;
}

.screen-height-container {
    height: 100vh;
    width: 400px !important;
}